<a href="https://colab.research.google.com/github/JAYAM27/DATA-PREPROCESSING---DATA.CSV/blob/main/DataPreprocessing_Assignment11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#Data.csv

**Step 1: Importing the libraries**

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

**Step 2: Importing dataset**

In [4]:
df = pd.read_csv('Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [5]:
df.shape

(10, 4)

**Step 3: Handling the missing data**

In [6]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [7]:
df[['Age', 'Salary']].isna()

     Age  Salary
0  False   False
1  False   False
2  False   False
3  False   False
4  False    True
5  False   False
6   True   False
7  False   False
8  False   False
9  False   False

In [8]:
df.Age = df.Age.fillna(df.Age.median())
df.Age

0    44.0
1    27.0
2    30.0
3    38.0
4    40.0
5    35.0
6    38.0
7    48.0
8    50.0
9    37.0
Name: Age, dtype: float64

In [9]:
df.Salary = df.Salary.fillna(df.Salary.mean())
df.Salary

0    72000.000000
1    48000.000000
2    54000.000000
3    61000.000000
4    63777.777778
5    58000.000000
6    52000.000000
7    79000.000000
8    83000.000000
9    67000.000000
Name: Salary, dtype: float64

In [10]:
df.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        10 non-null     float64
 2   Salary     10 non-null     float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

**Step 4:  Creating a dummy variable**

In [12]:
df['dummy'] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
 df

   Country   Age        Salary Purchased  dummy
0   France  44.0  72000.000000        No      1
1    Spain  27.0  48000.000000       Yes      2
2  Germany  30.0  54000.000000        No      3
3    Spain  38.0  61000.000000        No      4
4  Germany  40.0  63777.777778       Yes      5
5   France  35.0  58000.000000       Yes      6
6    Spain  38.0  52000.000000        No      7
7   France  48.0  79000.000000       Yes      8
8  Germany  50.0  83000.000000        No      9
9   France  37.0  67000.000000       Yes     10

**Step 5:Splitting the datasets into training sets and Test sets**

In [15]:
X = df.drop('Purchased', axis = 1)
y = df['Purchased']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0, test_size = 0.3)

In [17]:
X_train.shape

(7, 4)

In [18]:
X_test.shape

(3, 4)

**Step 6: Encoding categorical data**

In [19]:
OHE = OneHotEncoder()
OHE_COL = OHE.fit_transform(X_train[['Country']])
OHE_COL.toarray()

array([[1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.]])

**Step 7: Feature Scaling**

In [ ]:
ss = StandardScaler()

In [ ]:
X_train = ss.fit_transform(X_train)
X_train

In [ ]:
X_test = ss.transform(X_test)
X_test